#mod-footer-271177-container.mod
  #mod-footer-271177.mod-footer.mod-footer-footer
    #ssc-footer-container.ssc-container.ssc-theme-betfair.ssc-loggedOut.ssc-prod-casino.ssc-jur-intl.ssc-reg-fr.ssc-lang-en.ssc-cc-gb.ssc-cha-desktop.ssc-js.ssc-webkit.ssc-os-MacOS     
      #footer
        #mod-footer-2044501-container.mod
          #mod-footer-2044501.mod-footer.mod-footer-footer
            .ssc-srg
              a.ssc-plus18.ssc-default(href='http://content.betfair.com/misc/?product=portal&sWhichKey=gamCare&locale=en&brand=betfair&entrydomain=betfair.com', target='_blank', title='Over 18s only', style='background-position: 0px 0px; width: 36px; height: 36px', data-gtml='plus18')
              |                 
              span.rg-text Please Gamble Responsibly
              |                 
              a.ssc-cta.ssc-cta-primary.ssc-responsibleGamblingMoreInfo(href='http://responsiblegambling.betfair.com/', target='_blank', title='', data-gtml='Responsible Gambling Details') More details
            |               
            .ssc-fw
              .ssc-tlc
                ul.ssc-flnk.ssc-tl
                  li.ssc-lw
                    span.ssc-ftpl(tabindex='0', data-gtml='Responsible Gambling', data-tooltip='ssc-tr-0')  Responsible Gambling
                    |                       
                    .ssc-ftp.ssc-hdn-js(data-tooltip='ssc-ta-0')
                      .ssc-ftpc
                        .ssc-ftpi
                          ul.ssc-fslnk
                            li
                              a.ssc-responsibleGambling(href='http://responsiblegambling.betfair.com/', target='_blank', title='Responsible Gambling', data-gtml='responsibleGambling', data-gtmdt='responsibleGambling') Responsible Gambling
                            |                               
                            li
                              a.sscmw.ssc-gamcare(href='http://www.gamcare.org.uk/', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Gamcare', data-gtml='gamcare', data-gtmdt='gamcare') Gamcare
                          |                             
                          ul.ssc-fslnk
                            li
                              a.sscmw.ssc-gamblingTherapy(href='http://www.gamblingtherapy.org/', class='width(1050) height(600) autoscroll(true)', target='_popup', title='Gambling Therapy', data-gtml='gamblingTherapy', data-gtmdt='gamblingTherapy') Gambling Therapy
                        |                           
                        .ssc-ftpa
                  |                     
                  li.ssc-lw
                    span.ssc-ftpl(tabindex='0', data-gtml='About Betfair', data-tooltip='ssc-tr-1')  About Betfair
                    |                       
                    .ssc-ftp.ssc-hdn-js(data-tooltip='ssc-ta-1')
                      .ssc-ftpc
                        .ssc-ftpi
                          ul.ssc-fslnk
                            li
                              a.sscmw.ssc-careers(href='http://betfair.jobs/global', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Careers', data-gtml='careers', data-gtmdt='careers') Careers
                            |                               
                            li
                              a.ssc-betfairCorporate(href='http://corporate.betfair.com/', target='_blank', title='Betfair Corporate', data-gtml='betfairCorporate', data-gtmdt='betfairCorporate') Betfair Corporate
                          |                             
                          ul.ssc-fslnk
                            li
                              a.sscmw.ssc-disputeResolution(href='http://www.betfair.com/en/aboutUs/Dispute.Resolution/', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Resolve a Dispute', data-gtml='disputeResolution', data-gtmdt='disputeResolution') Resolve a Dispute
                        |                           
                        .ssc-ftpa
                  |                     
                  li.ssc-lw
                    a.sscmw.ssc-helpAndFAQ(href='https://en-betfair.custhelp.com/app/home', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Help & Contact Us', data-gtml='helpAndFAQ') Help &amp; Contact Us
                  |                     
                  li.ssc-lw.ssc-hdn
                    a.sscmw.ssc-helpSupport(href='https://support.betfair.com/app/home/', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Help & Contact Us', data-gtml='helpSupport') Help &amp; Contact Us
                  |                     
                  li.ssc-lw
                    a.ssc-marketingAndAffiliates(href='http://affiliates.betfair.com/', target='_blank', title='Affiliates', data-gtml='marketingAndAffiliates') Affiliates
                  |                     
                  li.ssc-lw
                    a.sscmw.ssc-security(href='http://www.betfair.com/aboutUs/Security/', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Security', data-gtml='security') Security
                  |                     
                  li.ssc-lw
                    a.ssc-betfairMobile(href='https://promotions.betfair.com/download-free-app-casino', target='_blank', title='Betfair Mobile', data-gtml='betfairMobile') Betfair Mobile
                  |                     
                  li.ssc-lw.last
                    a.ssc-developers(href='https://developer.betfair.com/', target='_blank', title='Developers', data-gtml='developers') Developers
                |                   
                .ssc-mml
                  a.ssc-twitter(href='https://twitter.com/Betfairgames', target='_blank', title='Twitter', data-gtml='twitter')
                    span.ssc-tw
                    span.hide-offscreen Twitter
              |                 
              .ssc-fal
                a.ssc-OfficialBettingPartner.ssc-default(href='javascript: void(0)', target='_blank', title='Official Betting Partner', style='background-position: -123px -493px; width: 84px; height: 34px', data-gtml='OfficialBettingPartner')
                |                   
                a.ssc-ArsenalOfficial.ssc-default(href='javascript: void(0)', target='_blank', title='Official Betting Partner', style='background-position: -183px -111px; width: 36px; height: 33px', data-gtml='ArsenalOfficial')
                |                   
                a.ssc-BarcelonaOfficial.ssc-default(href='javascript: void(0)', target='_blank', title='Official Betting Partner', style='background-position: -183px -162px; width: 44px; height: 33px', data-gtml='BarcelonaOfficial')
                |                   
                a.ssc-JuventusOfficial.ssc-default(href='javascript: void(0)', target='_blank', title='Official Betting Partner', style='background-position: -154px -111px; width: 29px; height: 33px', data-gtml='JuventusOfficial')
                |                   
                a.ssc-gamblingCommission.ssc-default(href='http://www.gamblingcommission.gov.uk/', target='_blank', title='Gambling Commission', style='background-position: 0px -156px; width: 113px; height: 37px', data-gtml='gamblingCommission')
                |                   
                a.ssc-lgaMalta.ssc-default(href='https://www.authorisation.mga.org.mt/verification.aspx?lang=en&company=4f2ce9bc-6584-440c-8643-9314defffd0e', target='_blank', title='LGA Malta', style='background-position: 0px -243px; width: 180px; height: 40px', data-gtml='lgaMalta')
                |                   
                a.sscmw.ssc-nortonSecure.ssc-default(href='https://sealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.betfair.com&lang=en', class='autoscroll(true) width(540) height(450)', target='_popup', title='Verisign', style='background-position: -139px -58px; width: 72px; height: 40px', data-gtml='nortonSecure')
                |                   
                a.sscmw.ssc-over18.ssc-default(href='http://content.betfair.com/misc/?product=portal&sWhichKey=gamCare&locale=en_GB&region=GBR&brand=betfair&entrydomain=betfair.com', class='width(640) height(500)', target='_popup', title='Over 18s only', style='background-position: -2px -108px; width: 34px; height: 37px', data-gtml='over18')
                |                   
                a.ssc-gamblingTherapy.ssc-default(href='http://www.gamblingtherapy.org?ReferrerID=103', target='_blank', title='Gambling Therapy', style='background-position: -51px -109px; width: 34px; height: 36px', data-gtml='gamblingTherapy')
                |                   
                a.ssc-gamCare.ssc-default(href='http://www.gamcare.org.uk', target='_blank', title='GamCare', style='background-position: -101px -109px; width: 31px; height: 36px', data-gtml='gamCare')
                |                   
                .ssc-clock.ssc-hdn-nojs 09:38
              |                 
              .ssc-ui
              |                 
              .ssc-fl
                | Betfair Casino Limited, Triq il-Kappillan Mifsud, St. Venera, SVR 1851, MALTA, is licensed and regulated by the 
                a(href='http://www.mga.org.mt/', target='_blank')
                  | Malta Gaming
                  | Authority
                | . Licence Number: MGA/CL1/294/2006 16th July 2012, and for customers in the UK, licensed and regulated by the Gambling Commission. Licence Number: 
                a(href='https://secure.gamblingcommission.gov.uk/gccustomweb/PublicRegister/PRSearch.aspx?ExternalAccountId=39435', target='_blank') 000-039435-R-319329-002.
              |                 
              .spacer
              |                 
              .ssc-flkh
                ul.ssc-flnk
                  li.ssc-lw
                    a.sscmw.ssc-privacyPolicy(href='http://www.betfair.com/en/aboutUs/Privacy.Policy/', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Privacy Policy', data-gtml='privacyPolicy') Privacy Policy
                  |                     
                  li.ssc-lw
                    a.sscmw.ssc-cookiePolicy(href='http://www.betfair.com/en/aboutUs/Cookie.Policy/', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Cookie Policy', data-gtml='cookiePolicy') Cookie Policy
                  |                     
                  li.ssc-lw
                    a.sscmw.ssc-rulesAndRegulations(href='http://www.betfair.com/en/aboutUs/Rules.and.Regulations/', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Rules & Regulations', data-gtml='rulesAndRegulations') Rules &amp; Regulations
                  |                     
                  li.ssc-lw
                    a.sscmw.ssc-termsAndConditions(href='http://www.betfair.com/en/aboutUs/Terms.and.Conditions/', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Terms & Conditions', data-gtml='termsAndConditions') Terms &amp; Conditions
                  |                     
                  li.ssc-lw.responsibleGambling
                    a.ssc-gamblingCanBeAddictive(href='http://responsiblegambling.betfair.com/', target='_blank', title='Gambling can be addictive, please play responsibly.', data-gtml='gamblingCanBeAddictive') Gambling can be addictive, please play responsibly.
                  |                     
                  li.ssc-lw.last
                    a.sscmw.ssc-parentalSupervision(href='http://content.betfair.com/misc/?product=portal&sWhichKey=gamCare&locale=en&region=GBR&brand=betfair&entrydomain=betfair.com', class='width(1000) height(600) autoscroll(true)', target='_popup', title='Parental Supervision', data-gtml='parentalSupervision') Parental Supervision
              |                 
              .ssc-fbtm
                style(type='text/css').
                  .ssc-fbtm a {
                  background: url("images/ssc-bottom-logos-sprite-com-v1.png") no-repeat;
                  }
                |                   
                a.ssc-footerBetfairHome.ssc-default(href='http://www.betfair.com/', target='_top', title='Betfair Home', style='background-position: -2px 0px; width: 107px; height: 38px', data-gtml='footerBetfairHome')