.h5-header(role='header')
  #mod-header-271174-container.mod
    #mod-header-271174.mod-header.mod-header-header
      #ssc-header-container.ssc-container.ssc-theme-betfair.ssc-loggedOut.ssc-prod-casino.ssc-jur-intl.ssc-reg-fr.ssc-lang-en.ssc-cc-gb.ssc-cha-desktop.ssc-js.ssc-webkit.ssc-os-MacOS 
        #header
          #mod-header-2044496-container.mod
            #mod-header-2044496.mod-header.mod-header-header
              #ssc-hw
                .ssc-hc
                  table#ssc-ht(cellspacing='0', cellpadding='0')
                      tr
                        td
                          a.ssc-lg(href='/', target='_top', title='Betfair Home', data-gtml='betfair logo')
                        td
                          .ssc-ilol
                            .ssc-bi
                        td#ssc-ssec
                        td.ssc-ilo
                          a.ssc-Mobile.ssc-mls.ssc-default(href='#', target='_blank', title='Casino mobile free bet', style='background-position: -6px -78px; width: 79px; height: 21px', data-gtml='Mobile')
                          #ssc-lsec
                            #mod-login-2044504-container.mod
                              #mod-login-2044504.mod-login.mod-login-login
                                form.ssc-lif(action='#', method='POST', autocomplete='off', novalidate='')
                                  input#ssc-lip(type='hidden', value='casino', name='product')
                                  input#ssc-lirm(type='hidden', value='POST', name='redirectMethod')
                                  input#ssc-liru(type='hidden', value='https://casino.betfair.com/login/success?rurl=https%3A%2F%2Fcasino.betfair.com', name='url')
                                  input#ssc-liu.ssc-itx(type='text', placeholder='email/username', value='', name='username', required='true', title='Enter your username', maxlength='256')
                                  |                                     
                                  input#ssc-lipw.ssc-itx(type='password', placeholder='password', value='', name='password', required='true', title='Enter your password', maxlength='256')
                                  |                                     
                                  .ssc-lib
                                    input#ssc-lis.ssc-cta.ssc-cta-simple(type='submit', value='Login')
                                    span.ssc-lkh
                                  |                                     
                                  a.ssc-cta.ssc-cta-primary.ssc-lij.sscmw(href='https://register.betfair.com/account/registration?locale=en_GB&promotionCode=CASTV2\
                                  ', target='_popup', title='Join Now', class='width(1050) height(910) autoscroll(true)', data-gtml='Join now')
                                    span Join Now
                                  |                                     
                                  .ssc-lid
                                    .ssc-rm.ssc-hdn-nojs
                                      input#ssc-rmb(type='checkbox', value='Remember me')
                                      | Remember me
                                    |                                       
                                    div
                                      | Forgot your
                                      a.ssc-username.sscmw(href='https://identitysso.betfair.com/view/recoverusername', target='_popup', title='', class='width(788) height(500) autoscroll(false)', data-gtml='forgot username')
                                        | username
                                      |  /
                                      |                                         
                                      a.ssc-password.sscmw(href='https://identitysso.betfair.com/view/recoverpassword', target='_popup', title='', class='width(788) height(500) autoscroll(false)', data-gtml='forgot passowrd')
                                        | password
                                      |  ?
                        |                           
                        td
                        |                           
                        td
                          .ssc-hlsw
                            .ssc-hls(tabindex='0', data-tooltip='ssc-tr-2')
                              span.ssc-lsf.ssc-fGB
                              span.ssc-aru
                            |                               
                            .ssc-tlp.ssc-hlsd.ssc-hdn-js(data-tooltip='ssc-ta-2')
                              .ssc-tlpc
                                ul
                                  li
                                    a.ssc-GBR(href='#', data-region='GBR', data-language='en', target='_self')
                                      span.ssc-ldf.ssc-fgbr
                                      | English - UK
                                  |                                     
                                  li
                                    a.ssc-IRL(href='#', data-region='IRL', data-language='en', target='_self')
                                      span.ssc-ldf.ssc-firl
                                      | English - IRE
                                  |                                     
                                  li
                                    a.ssc-da(href='#', data-region='GBR', data-language='da', target='_self')
                                      span.ssc-ldf.ssc-fda
                                      | Dansk
                                  |                                     
                                  li
                                    a.ssc-de(href='#', data-region='GBR', data-language='de', target='_self')
                                      span.ssc-ldf.ssc-fde
                                      | Deutsch
                                  |                                     
                                  li
                                    a.ssc-el(href='#', data-region='GBR', data-language='el', target='_self')
                                      span.ssc-ldf.ssc-fel
                                      | &Epsilon;&lambda;&lambda;&eta;&nu;&iota;&kappa;&#x3AC;
                                  |                                     
                                  li
                                    a.ssc-es(href='#', data-region='GBR', data-language='es', target='_self')
                                      span.ssc-ldf.ssc-fes
                                      | Espa&ntilde;ol
                                  |                                     
                                  li
                                    a.ssc-pt(href='#', data-region='GBR', data-language='pt', target='_self')
                                      span.ssc-ldf.ssc-fpt
                                      | Portugu&ecirc;s
                                  |                                     
                                  li
                                    a.ssc-ru(href='#', data-region='GBR', data-language='ru', target='_self')
                                      span.ssc-ldf.ssc-fru
                                      | &Rcy;&ucy;&scy;&scy;&kcy;&icy;&jcy;    
                                  li
                                    a.ssc-sv(href='#', data-region='GBR', data-language='sv', target='_self')
                                      span.ssc-ldf.ssc-fsv
                                      | Svenska
                  #ssc-hbt
                    #mod-main-navigation-2044505-container.mod
                      #mod-main-navigation-2044505.mod-main-navigation.mod-main-navigation-main-navigation
                        .ssc-sac
                          a(href='http://responsiblegambling.betfair.com/', target='_blank', title='Responsible Gambling', data-gtml='Responsible Gambling') Responsible Gambling
                        ul#ssc-pn
                          li
                            a#EXCHANGE(href='https://www.betfair.com/exchange', target='_top', title='Exchange', data-gtml='1.EXCHANGE') Exchange
                          li
                            a#SPORTSBOOK(href='https://www.betfair.com/sport/home#sscpl=en', target='_top', title='Sportsbook', data-gtml='2.SPORTSBOOK') Sportsbook
                          li.ssc-actv
                            a#CASINO(href='https://casino.betfair.com/', target='_top', title='Casino', data-gtml='3.CASINO') Casino
                          li
                            a#LIVE_CASINO(href='https://casino.betfair.com/live', target='_top', title='Live Casino', data-gtml='4.LIVE_CASINO') Live Casino
                          li
                            a#POKER(href='https://poker.betfair.com', target='_top', title='Poker', data-gtml='5.POKER') Poker
                          li
                            a#EXCHANGE_GAMES(href='https://games.betfair.com/', target='_top', title='Exchange Games', data-gtml='6.EXCHANGE_GAMES') Exchange Games
                          li
                            a#ARCADE(href='https://arcade.betfair.com/', target='_top', title='Arcade', data-gtml='7.ARCADE') Arcade
                          li
                            a#VEGAS_SLOTS(href='https://vegasslots.betfair.com/', target='_top', title='Vegas Slots', data-gtml='8.VEGAS_SLOTS') Vegas Slots
                          li
                            a#MACAU(href='https://macau.betfair.com', target='_top', title='Macau', data-gtml='9.MACAU') Macau
                          li
                            a#BINGO(href='https://bingo.betfair.com/', target='_top', title='Bingo', data-gtml='10.BINGO') Bingo
                          li
                            a#POOLS(href='https://pools.betfair.com', target='_top', title='Pools Betting', data-gtml='11.POOLS') Pools Betting
                          li
                            a#VIRTUAL_SPORTS(href='https://www.betfair.com/sport/virtuals', target='_top', title='Virtual Sports', data-gtml='12.VIRTUAL_SPORTS') Virtual Sports